/* You can add global styles to this file, and also import other style files */
:root {
  --nav-h: 40px;
  --novamart-bg: linear-gradient(100deg, #1a0c58 0%, #990836 50%, #6d3f14 100%);
  --novamart-button: linear-gradient(
    100deg,
    #553fb5 0%,
    #cc295c 50%,
    #c42e13 100%
  );
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
